In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("teleCust1000t.csv")
data.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [8]:
Y = data['custcat']
X = data[['region','tenure','income','employ']]

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.3)
print ('Train set:', X_train.shape, y_train.shape)
print ('Test set:', X_test.shape, y_test.shape)

Train set: (700, 4) (700,)
Test set: (300, 4) (300,)

In [11]:
import sklearn.pipeline.Pipeline(steps, *, memory=None, verbose=False)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
pipeline = Pipeline(steps = [LR,LogisticRegression(),neigh,KNeighborsClassifier(n_neighbors = 3)])

SyntaxError: invalid syntax (1121796223.py, line 1)

In [5]:
model = pipeline.fit(X_train, y_train)
print (model)

C:\Users\91620\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([4, 3, 3, 3, 2, 2, 4, 2, 1, 2, 2, 1, 1, 1, 1, 2, 3, 1, 1, 4, 1, 4,
       1, 4, 2, 4, 1, 1, 2, 2, 4, 3, 4, 1, 1, 2, 1, 1, 2, 1, 2, 1, 4, 3,
       1, 1, 2, 4, 1, 2, 4, 3, 3, 3, 1, 1, 3, 3, 3, 2, 3, 1, 1, 3, 1, 1,
       3, 1, 1, 1, 3, 2, 2, 1, 4, 2, 2, 1, 1, 3, 3, 1, 3, 1, 3, 3, 1, 4,
       1, 3, 2, 1, 1, 3, 3, 2, 2, 4, 3, 1, 2, 1, 2, 2, 2, 4, 3, 3, 1, 1,
       2, 3, 4, 1, 1, 3, 2, 3, 1, 3, 2, 1, 1, 2, 2, 3, 3, 2, 3, 3, 3, 2,
       3, 1, 3, 3, 3, 3, 2, 3, 1, 3, 3, 1, 4, 2, 3, 1, 2, 1, 1, 1, 4, 2,
       2, 2, 1, 3, 1, 1, 3, 1, 2, 2, 1, 2, 2, 1, 3, 3, 2, 1, 1, 3, 1, 1,
       3, 2, 3, 1, 1, 3, 3, 1, 2, 1, 2, 1, 4, 2, 2, 3, 2, 1, 1, 3, 1, 1,
       3, 1, 2, 1, 4, 1, 1, 3, 2, 1, 3, 3, 1, 2, 1, 1, 1, 2, 2, 1, 4, 1,
       2, 3, 3, 1, 2, 2, 2, 1, 3, 2, 2, 3, 1, 1, 1, 1, 1, 3, 1, 1, 4, 3,
       3, 2, 1, 3, 2, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 3, 2, 1, 2,
       1, 1, 1, 3, 1, 3, 2, 1, 1, 2, 1, 1, 3, 2, 2, 1, 3, 3, 3, 1, 2, 3,
       4, 2, 1, 3, 1, 3, 1, 1, 1, 3, 2, 1, 1, 1], dtype=int64)

In [7]:
from sklearn.metrics import accuracy_score
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, LR.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.39285714285714285
Test set Accuracy:  0.4166666666666667